.player {
  display: flex;
  position: absolute;
  border-radius: 15px;
  min-width: 100px;
  min-height: 50px;
}
.dealer {
  top: 30%;
  left: 37%;
  width: 27%;
  height: 19.75%;
}
.player_1 {
  top: 2%;
  left: 51%;
  width: 18%;
  height: 15%;
}
.player_2 {
  top: 12%;
  left: 71%;
  width: 18%;
  height: 15%;
}
.player_3 {
  top: 30%;
  left: 77%;
  width: 18%;
  height: 15%;
}
.player_4 {
  top: 49%;
  left: 77%;
  width: 18%;
  height: 15%;
}
.player_5 {
  top: 66%;
  left: 61%;
  width: 18%;
  height: 15%;
}
.player_6 {
  top: 75%;
  left: 41%;
  width: 18%;
  height: 15%;
}
.player_7 {
  top: 66%;
  right: 61%;
  width: 18%;
  height: 15%;
}
.player_8 {
  top: 49%;
  right: 77%;
  width: 18%;
  height: 15%;
}
.player_9 {
  top: 30%;
  right: 77%;
  width: 18%;
  height: 15%;
}
.player_10 {
  top: 12%;
  right: 71%;
  width: 18%;
  height: 15%;
}
.player_11 {
  top: 2%;
  right: 51%;
  width: 18%;
  height: 15%;
}
#leave_btn,
#away_btn {
  display: flex;
  position: absolute;
  background-color: red;
  width: 4%;
  height: 8%;
  color: aqua;
}

#leave_btn {
  top: 11%;
  left: 1%;
}
#away_btn {
  top: 1%;
  left: 1%;
}

/* #btn0, #btn1, #btn2 {} */
